.cartContainer {
  width: 80%;
  margin-top: 50px;
}

.cartItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
}

.itemPrice {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.removeIcon:hover {
  cursor: pointer;
}

.removeIcon svg {
  transform: scale(0.7);
  fill: red;
  margin-left: 5px;
}

.editIcon svg {
  transform: scale(0.7);
  fill: grey;
  margin-left: 5px;
}

.editIcon:hover {
  cursor: pointer;
}

.checkout {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 30px;
  padding: 30px;
}

.confirmationButtons {
  display: flex;
  gap: 10px;
}

.shoppingCartButton {
  display: flex;
  justify-content: flex-end;
}
